@import '../../colors.sass'

.location
 margin-top: 120px
 &__content
 &__description
  padding-bottom: 45px
  color: $thirddGrey
  font-size: 16px
  height: auto
  border-bottom: 1px solid $LineColor
 &__point

 &__img