@import '../../colors.sass'  

.nav
 margin: 70px 0 70px
 li
  a
   font-size: 20px
   color: $mainBlack
   font-weight: 700
  .active
   color: $mainYellow 

.slick-slider
 max-width: 1300px
 margin: auto
.slick-prev:before, .slick-next:before
 color: $mainBlack