@import '../../fonts.scss' 
@import '../../colors.sass' 

.team
 padding-top: 90px
 height: 530px
 background-color: $mainGrey
 &-title
  flex-basis: 50%
 &-header
  display: flex
  // justify-content: space-between
  p
   font-size: 18px
   flex-basis: 50%
   line-height: 30px
   color: $thirddGrey
 &-body
  display: flex
  margin: 0 auto