@import '../../fonts.scss' 
@import '../../colors.sass' 

.feedback
 padding: 100px 0

 /*кнопка назад*/
 &-prev
  // background: url('../../img/icons/left-arrow.png') no-repeat center
  // background-size: 70%
  left: 40%
  bottom: -60px
  // transform: translate(0, -50%)
  font-size: 26px

 /*кнопка вперед*/
 &-next
  // background: url('../../img/icons/right-arrow.png') no-repeat center
  // background-size: 70%
  right: 40%
  bottom: -60px
  font-size: 26px
 
 &-dots
  position: absolute
  bottom: -50px
  right: 50%
  transform: translate(50%, 0)
  display: flex !important
  // width: 100%
  // text-align: center
  li
   margin: 0 5px
   button
    width: 15px
    height: 15px
    border-radius: 50%
    border: 0
    background-color: rgba(15, 56, 98, 0.2)
    font-size: 0
    transition: all .25s
    outline: none
  li.slick-active
   button
    background-color: $bgHeader
    transform: scale(1.1)
  
@media screen and (max-width: 850px) 
 .feedback
  padding-top: 50px
  &-prev
   left: 25%
  &-next
   right: 25%

@media screen and (max-width: 570px) 
 .feedback
  &-prev
   left: 5%
  &-next
   right: 5%