@import '../../fonts.scss' 
@import '../../colors.sass' 

.contacts
 padding-top: 23px
 position: fixed
 top: 0
 right: 14%
 display: flex
 justify-content: flex-end
 align-items: center
 flex-wrap: wrap
 background-color: transparent
 +bold
 color: $secondGrey
 z-index: 999
 opacity: 0.8
 &-location
 &-phone
  margin-left: 30px
  position: relative
  &:after
   content: '(viber, telegram)'
   position: absolute
   top: 0
   right: -112px
  a
   margin-left: 3px
   color: $secondGrey
   &:hover
    text-decoration: none
 &-social
  margin-left: 135px
  width: 70px
  a
   width: 28px
   height: 28px
   background-color: $secondGrey
   svg
    color: $bgHeader
    font-size: 16px

@media screen and (max-width: 992px) 
 .contacts
  // padding: 10px 
  display: flex
  
  justify-content: center
  flex-direction: column
  align-items: center
  // right: 0
  &-location
  &-phone
   margin-left: 0
   a
    margin-left: 3px
  &-social
   margin-left: 0

@media screen and (max-width: 576px) 
 .contacts
  font-size: 10px
  &-location
   img
    width: 10px
  &-phone
   img
    width: 10px
  &-social
   img
    width: 16px
@media screen and (max-width: 425px) 
 .contacts
  font-size: 8px
  &-location
   img
    width: 8px
  &-phone
   img
    width: 8px
  &-social
   img
    width: 16px