@import '../../fonts.scss' 
@import '../../colors.sass' 

.contacts
 padding: 23px 0 17px
 display: flex
 justify-content: flex-end
 background-color: $bgFooter
 +bold
 color: $secondGrey
 
 &-location
  span
   margin-left: 13px
   opacity: 0.8
 &-phone
  margin-left: 41px
  a
   margin-left: 3px
   color: $secondGrey
   opacity: 0.8
 &-social
  margin-left: 62px
  img
   &:last-child
    margin-left: 25px